<!--***********Footer*************-->
<div id="footer" class="clear_float">
    <div class="content_width">
        <div id="footer_left">
            <img src="images/logo_f.png" alt="Lair of Snakes logo" />
        </div>
        <div id="footer_center">
            <div id="footer_nav_container" class="clear_float">
                <nav id="footer_nav">
                    <ul>
                        <li><a href="#">Наше предложение</a></li>
                        <li><a href="#">Инвесторам</a></li>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Наши партнеры</a></li>
                    </ul>
                </nav>
                <div id="copyright">
                    <p>&copy;2010-2016. Все права защищены.</p>
                </div>
                <div id="social">
                    <a class="social tw" href="#"></a>
                    <a class="social fb" href="#"></a>
                    <a class="social inst" href="#"></a>
                    <a class="social pin" href="#"></a>
                    <a class="social rnd" href="#"></a>
                    <a class="social in" href="#"></a>
                </div>
            </div>

        </div>
    </div>

</div><!--End footer-->


</div><!--End page wrapper-->
</body>

</html>