<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Lair of Snakes - Sample Page</title>
    <link rel="stylesheet" href="css/flexslider.css">
    <link href="style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/css3-animate-it.js" type="text/javascript"></script>
    <script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.tabslet.min.js"></script>
    <script src="js/functions.js"></script>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <script src="js/jquery.placeholder.min.js" type="text/javascript"></script>
    <script src="js/functions_ie.js"></script>
    <link href="ie.css" rel="stylesheet">
    <link href="css/animations-ie-fix.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
    <link href="css/animations-ie-fix.css" rel="stylesheet">
    <script src="js/jquery.placeholder.min.js" type="text/javascript"></script>
    <script src="js/functions_ie.js"></script>
    <![endif]-->
</head>

<body>
<div id="full_page" class="page"><!--Page wrapper -->
    <!--***********HEADER************-->
    <div id="header">
        <div class="content_width">

            <!--************MENU**************-->
            <div id="top_nav" class="clear_float">
                <nav id="menu_left">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Предложение</a></li>
                        <li><a href="#">Инвесторам</a></li>
                    </ul>
                </nav>
                <div id="top_logo">
                    <a href="index.html"><img src="images/logo.png" alt="Our logo" /></a>
                </div>
                <nav id="menu_right">
                    <ul>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Наши партнеры</a></li>
                    </ul>
                </nav>
            </div><!--End menu-->

            <h1>Типовая внутренняя страница</h1>
        </div>
    </div><!-- End header-->
