/********************************
*      ДОПОЛНИТЕЛЬНЫЕ СТИЛИ
*********************************/

//@import "../../bower_components/normalize.css/normalize.css";

@import "partials/sprite";

@include sprites($spritesheet-sprites);

//hover спрайта


//.icon {
//  @include sprite($icon);
//  &:hover {
//    @include sprite($icon-hover);
//  }
//}
//.nav-mobail{
//  @include sprite($nav-mobail);
//  &:hover {
//    @include sprite($nav-mobail-hover);
//  }
//}




@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('../fonts/proxima_nova_semibold.eot');
  src: url('../fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima_nova_semibold.woff2') format('woff2'),
  url('../fonts/proxima_nova_semibold.woff') format('woff'),
  url('../fonts/proxima_nova_semibold.ttf') format('truetype'),
  url('../fonts/proxima_nova_semibold.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}










i{
  display: inline-block;
}
.left{
  float: left;
}
.right{
  float: right;
}

.both:after {
  clear: both;
  content: "";
  display: block;
  float: none;
  margin: 0;
  padding: 0;
}




.h-after{
  position: relative;
  border: none;
  font-size: 36px;
  text-align: center;
  padding: 0;
  margin: -12px 0 85px;
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 56px;
    background: url('../images/h-after.png') no-repeat center center;
  }
}

.features{
  width:64%;
  border-left: 3px solid #6a7c0d;
  padding: 0 0 42px 4%;
  strong{
    font-size: 21px;
    color: #6a7c0d;
    padding:0 0 14px;
    display: inline-block;
  }
  ul{

  }
  li{
    padding: 13px 0;
    line-height: 23px;

  }
}
.fetures-img{
  width:31.5%;
  margin:22px 0 0;
  img{
    width:100%;
  }
}

.what-does{
  background:  url('../images/mywhat.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width:100%;
  padding: 113px 0 159px;
  .h-after{
    padding:0;
    margin:0;
  }
}
.width{
  color: #fff;
}
.list-what{
  margin:60px 0 0;
 li{
   position: relative;
   min-height:114px;
   text-align: center;
   &:after{
     clear: both;
     content: "";
     display: block;
     float: none;
     margin: 0;
     padding: 0;
   }
   &:last-child{
     p{
       &:after{
         display: none;
       }
     }
     &:before{
       display: none;
     }
   }
 }
  p{
    padding: 0 0 20px 85px;
    font-family: 'proxima_nova_ltsemibold';
    text-align: left;
    position: relative;
    min-height: 70px;
    &:after{
      content: '';
      width:30px;
      height:3px;
      background-color: #f8c300;
      display: inline-block;
      position: absolute;
      bottom:0;
      left:50%;
    }
  }
}
.list{
  display: inline-block;
  float: left;
}
.companis{
  background: url('../images/companis.jpg') 55% bottom no-repeat;
  min-height: 385px;
  margin: 0 0 38px;
  p{
    width:42%;
    line-height: 24px;
  }
  .left{
    text-align: right;
  }
  .right{
    text-align: left;
  }
}
.numb-list{
  padding: 22px 0 0;
  li{
    min-height: 100%;
    padding: 0 0 32px;
  }
  p{
    font-family: 'Proxima Nova';
  }
}
.numer{
  font-family: 'proxima_nova_ltsemibold';
  font-size: 24px;
  display: inline-block;
  float: left;
  text-align: center;
  padding:14px 0 0;
  height:36px;
}

.invest{
    h2{
      font-size: 36px;
      border-bottom: 3px solid #f9c300;
      padding: 15px 0;
    }
}
.invest-text{
  width:65%;
  p{
    line-height:24px;
    padding-bottom: 25px;
  }
}
.invest-img{
  width:31.5%;
  margin: 24px 0;
  img{
    width:100%;
  }
}
.bg-one{
  background: url('../images/snakes1.png') center center  no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 280px;
  width:100%;
  margin: 0 0 30px;
}

.text-center{
  text-align: center;
  font-size: 36px;
  border-bottom: 3px solid #f9c300;
  padding: 15px 0;
  margin:0;
}

.b-list{
  background: url('../images/b-list.png') 55% 60% no-repeat;
  height: 556px;
  margin:0 0 50px;
  .left{
    text-align: right;
  }
  .right{
    text-align: left;
  }
  ul{
    width:47%;
    li{
      line-height: 25px;
      margin:62px 0;
    }
  }
}
.bg-toch{
  background: url('../images/b-list-toch.png') 50% 0 no-repeat;
  height:100%;
}
.text-centers{
  text-align: center;
}
.b-snakes-two{
  background: url('../images/snakes2.png') 0 0 no-repeat;
  height: 314px;
  padding:165px 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  p{
    position: relative;
    color: #FFFFFF;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    span{
      font-size: 20px;
      font-weight: bold;
    }
    &:before{
      content: '';
      background: url('../images/cav-top.png') 0 0 no-repeat;
      width: 17px;
      height: 14px;
      position: absolute;
      top:-52px;
      left:49%;
    }
    &:after{
      content: '';
      background: url('../images/cav-bootom.png') 0 0 no-repeat;
      width: 17px;
      height: 14px;
      position: absolute;
      bottom:-42px;
      left:49%;
    }
  }
}
.big-list{
  background: url('../images/snakes3.png') right bottom  no-repeat;
  .list-what{
    li{
      margin:0 0 20px;
    }
    p{
      font-family: 'Proxima Nova';
      span{
        color: #6a7c0d;
        font-weight: bold;
      }
    }
  }
}

.b-lebls{
  text-align: center;
  ul{

  }
  li{
    display: inline-block;
    width:24%;
    min-height:270px;
    vertical-align: top;
  }
  p{
    font-size: 18px;
    color: #6a7c0d;
    font-weight: bold;
    margin: 11px 0 0;
  }
}

.profitability-plan{
  background: url('../images/profitability.png') top  center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 603px;
  padding: 71px 0 0;
}
.min-line{
  position: relative;
  border-bottom: none;
  text-align: center;
  font-size: 36px;
  padding: 50px 0 25px;
  &:after{
      content: '';
      width:60px;
      height:4px;
      background-color: #f8c300;
      position: absolute;
      bottom:0;
      left:47%;
    }

}
.list-plan{
  padding:6px 0 0;
  li{
    display: inline-block;
    vertical-align: top;
    width:24%;
    text-align: center;
  }
  p{
    font-size: 14px;
    color: #6a7c0d;
    font-weight: bold;
    line-height: 23px;
    margin: 36px 0;
  }
}
.plachka{
  display: inline-block;
  color: #6a7c0d;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  span{
    font-size: 48px;
    display: inline-block;
    margin:38px 0 3px;
  }
}
.monthly-plan{

}
.list-mon-plan{
  padding: 15px 0 0;
  li{
    clear: both;
    margin: 0 0 43px;
    &:last-child{
      margin: 66px 0 0;
    }
    >span{
      display: inline-block;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      padding: 13px 0 0;
    }
  }
  p{
    padding:0 0 0 83px;
    line-height: 24px;
    span{
      color: #6a7c0d;
      font-weight: bold;
    }
  }
}

.h-big{
  font-size: 36px;
  border-bottom: 3px solid #f8c70f;
}

.teble-wr{
  padding: 19px 0 0;
  .caption{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 31px;
  }
}
.table{
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  color: #444444;
  th{
    background-color: #dfeba1;
    border: none;
    border-top: 1px solid #cdda85;
    border-bottom: 1px solid #cdda85;
    text-transform: uppercase;
    padding:16px 51px;
  }
  tr{
    &:nth-child(odd){
      td{
          background-color: #ededed;
        }
    }
    td{
      border:none;
      border-bottom: 1px solid #e0e0e0;
      padding: 16px 15px;
    }
  }

}













/********************************
*       ОСНОВНЫЕ СТИЛИ
********************************/









/*************************
*     КАСТОМНЫЕ СТИЛИ
**************************/

@import "partials/media";
