/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$list-name: 'list';
$list-x: 0px;
$list-y: 0px;
$list-offset-x: 0px;
$list-offset-y: 0px;
$list-width: 50px;
$list-height: 50px;
$list-total-width: 100px;
$list-total-height: 50px;
$list-image: '../images/sprite.png';
$list: (0px, 0px, 0px, 0px, 50px, 50px, 100px, 50px, '../images/sprite.png', 'list', );
$numer-name: 'numer';
$numer-x: 50px;
$numer-y: 0px;
$numer-offset-x: -50px;
$numer-offset-y: 0px;
$numer-width: 50px;
$numer-height: 50px;
$numer-total-width: 100px;
$numer-total-height: 50px;
$numer-image: '../images/sprite.png';
$numer: (50px, 0px, -50px, 0px, 50px, 50px, 100px, 50px, '../images/sprite.png', 'numer', );
$spritesheet-width: 100px;
$spritesheet-height: 50px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($list, $numer, );
$spritesheet: (100px, 50px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
